
.map {
    height: 100vh;
    width: 75vw;
    position: relative;
}

.error {
    height: 100%;
    line-height: 100vh;
    width: 100%;
    text-align: center;
}

.loading {
    background-color: #fff;
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    z-index: 2;
}

.loading__icon {
    width: 50px;
    height: 50px;
    display: inline-block;
    position: relative;
    top: 30%;
    animation: falling 5s infinite;
}

@keyframes falling {
    0% {
        transform: translate(0, 0) rotate(180deg);
        opacity: .5;
    }
    25% {
        transform: translate(50px, 50px) rotate(-90deg);
        opacity: 1;
    }
    50% {
        transform: translate(-50px, 100px) rotate(180deg);
        opacity: .75;
    }
    75% {
        transform: translate(50px, 150px) rotate(-90deg);
        opacity: .5;
    }
    100% {
        transform: translate(0, 200px) rotate(180deg);
        opacity: 0;
    }
}

.mapTools {
    z-index: 1;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    padding: 10px;
}

.month-filter {
    background-color: rgba(171, 64, 10, 0.9);
    border-radius: 4px;
    color: #fff;
    margin-right: 12px;
    padding: 6px 12px;
}

.month-filter__label {
    margin-right: 1rem;
}

.month-filter__label input {
    vertical-align: text-bottom;
}

.month-filter__label input:hover {
    cursor: pointer;
}

.fullscreen {
    background: #fff;
    height: 30px;
    border: 1px solid rgb(67, 67, 67);
}

.fullscreen:hover {
    cursor: pointer;
}

.fullscreen img {
    height: 100%;
}

.map__popup__content {
    margin: 10px 10px 5px 10px;
    text-align: center;
}