/* 
    Sidebar component styles
*/

.sidebar {
    width: 25vw;
    height: 100vh;
    overflow: scroll;
    scroll-behavior: smooth;
    min-width: 200px;
    font-family: helvetica, arial, sans-serif;
}

.sidebar__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar__item {
    height: 100vh;
    min-height: 600px;
    background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
}

.sidebar__item__block {
    margin: 0;
    padding: 0;
    background: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.sidebar__item__block:hover {
    cursor: pointer;
    animation: fadebg .3s forwards;
}

@keyframes fadebg {
    0% {
        background: rgba(255, 255, 255, 1);
    }
    100% {
        background: rgba(255, 255, 255, 0);
    }
}

.sidebar__item__image {
    width: 100%;
}

.sidebar__item__address {
    font-size: .7rem;
}

.sidebar__item__title,
.sidebar__item__description,
.sidebar__item__address {
    padding: 0 10px;
}
