.app {
    display: flex;
}

.map {
    height: 100vh;
    width: 75vw;
    position: relative;
}

.loading {
    font-weight: bold;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

.hidden {
    display: none;
}

.month-filter {
    background-color: rgba(171, 64, 10, 0.9);
    border-radius: 4px;
    color: #fff;
    margin: 12px;
    padding: 6px 12px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.month-filter__label {
    margin-right: 1rem;
}

.month-filter__label input {
    vertical-align: text-bottom;
}

.map__popup__content {
    margin: 0;
    text-align: center;
}

.sidebar {
    width: 25vw;
    height: 100vh;
    overflow: scroll;
    scroll-behavior: smooth;
}

.sidebar__list {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

.sidebar__list li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar__list img {
    width: 95%;
}